**/__pycache__
**/.classpath
**/.dockerignore
**/.DS_Store
**/.env
**/.git
**/.gitignore
**/.gitmodules
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.nova
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/build
**/.gradle
**/.idea
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
README.md
Makefile