/* Misc */
.container {
  max-width: map-get($grid-breakpoints, "sm");
}

.wi {
  font-size: 1.5rem;
}

/* Floor plan */
#floor-plan-wrapper {
  position: relative;
  margin: 1em auto;
  transform: rotate(0deg);
  max-width: 70vw;
  max-height: 70vw;

  @media (min-width: map-get($grid-breakpoints, "md")) {
    max-width: map-get($grid-breakpoints, "sm") * 0.9;
    max-height: map-get($grid-breakpoints, "sm") * 0.9;
  }
}

#floor-plan {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}

#floor-plan-hitbox {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  max-width: 100%;
}

#toast-section {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 1000;

  .toast {
    width: 20rem;
  }

  .toast-type {
    width: 20px;
    height: 20px;
  }
}

/* Forms */
.form-control {
  background-color: var(--input-bg, $input-bg);
  color: var(--body-color, $body-color);
  border-color: var(--input-border-color, $input-border-color);

  &:focus {
    background-color: var(--input-bg, $input-bg);
    color: var(--body-color, $body-color);
  }
}

.input-group-text {
  background-color: var(--input-group-bg, $input-group-addon-bg);
  color: var(--body-color, $input-group-addon-color);
  border-color: var(--input-border-color, $input-group-addon-border-color);
}
.form-check-input:checked {
  background-color: var(--bs-primary);
}

.form-control.is-valid {
  border-color: var(--bs-success);

  &:focus {
    border-color: var(--bs-success);
    box-shadow: 0 0 0 0.25rem rgba(#006f1a, 0.25);
  }
}

.form-control.is-invalid {
  border-color: var(--bs-danger);

  &:focus {
    border-color: var(--bs-danger);
    box-shadow: 0 0 0 0.25rem rgba(#a42a36, 0.25);
  }
}

.invalid-tooltip {
  background-color: var(--bs-danger);
}
