$body-bg: #efeff4;

@import "~bootstrap/scss/bootstrap.scss";

.toggle-button {
  cursor: pointer;
}

.modal-body {
  background-color: $body-bg;
}

fieldset > :not(legend) {
  margin-bottom: 2em;
}

#toast-section {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 1000;

  .toast {
    width: 20em;
  }

  .toast-type {
    width: 20px;
    height: 20px;
  }
}

.floor-plan-section {
  #floor-plan-wrapper {
    position: relative;
    margin: 1em auto;
    max-width: 70vw;
    max-height: 70vw;
    transform: rotate(0deg);

    @media (min-width: map-get($grid-breakpoints, "md")) {
      max-width: map-get($grid-breakpoints, "sm") * 0.9;
      max-height: map-get($grid-breakpoints, "sm") * 0.9;
    }
  }

  #floor-plan {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
  }

  #floor-plan-hitbox {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    max-width: 100%;
  }
}

.scene-section {
  max-width: map-get($grid-breakpoints, "sm");
  margin: 0 auto;

  .card {
    z-index: 1;
  }

  img {
    border-radius: 0.5em;
    max-width: 100%;
  }

  @media (max-width: map-get($grid-breakpoints, "sm")) {
    .card {
      border-width: 1px 0;
      border-radius: 0;
      margin-left: calc(-1 * var(--bs-gutter-x));
      margin-right: calc(-1 * var(--bs-gutter-x));
    }
  }

  button {
    padding: 0;
    margin: 0;
    border: none;
    width: 10em;
    max-width: 20%;
    margin: 5px;
    background-color: transparent;
  }
}

.weather-section {
  max-width: map-get($grid-breakpoints, "sm");
  margin: 1em auto;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  h1 {
    font-size: 0.8rem;
    color: #6d6d72;
    text-transform: uppercase;
  }
  .wi {
    font-size: 1.5em;
    display: block;
    margin-bottom: 0.5rem;
  }

  @media (min-width: map-get($grid-breakpoints, "sm")) {
    padding: 0 10px;
  }
}

.control-section {
  max-width: map-get($grid-breakpoints, "sm");
  margin: 0 auto;
}
