.wi {
  font-size: 1.5rem;
}

.modal-body {
  background: $body-bg;
}

.container {
  max-width: map-get($grid-breakpoints, "sm");
}

#floor-plan-wrapper {
  position: relative;
  margin: 1em auto;
  transform: rotate(0deg);
  max-width: 70vw;
  max-height: 70vw;

  @media (min-width: map-get($grid-breakpoints, "md")) {
    max-width: map-get($grid-breakpoints, "sm") * 0.9;
    max-height: map-get($grid-breakpoints, "sm") * 0.9;
  }
}

#floor-plan {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}

#floor-plan-hitbox {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  max-width: 100%;
}

#toast-section {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 1000;

  .toast {
    width: 20rem;
  }

  .toast-type {
    width: 20px;
    height: 20px;
  }
}
