@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #272b30;
    --floor-plan-active: rgb(69, 73, 78);
    --floor-plan-inactive: rgb(29, 33, 38);
    --floor-plan-disabled: rgb(55, 43, 48);
    --bs-success: #006f1a;
    --bs-info: #01859d;
    --bs-warning: #9d7700;
    --bs-danger: #a42a36;
  }

  body {
    color: #ccc;
  }

  hr {
    border-color: black;
  }

  a,
  a:hover,
  .btn-link,
  .btn-link:hover {
    color: white;
  }

  a.text-dark:hover {
    color: white !important;
  }

  .scene-section img {
    opacity: 0.7;
  }

  .form-check-input {
    background-color: #666;
  }

  .form-check-input:checked {
    background-color: #055ebd;
  }

  .form-control.is-valid {
    border-color: var(--bs-success);

    &:focus {
      border-color: var(--bs-success);
      box-shadow: 0 0 0 0.25rem rgba(#006f1a, 0.25);
    }
  }

  .form-control.is-invalid {
    border-color: var(--bs-danger);

    &:focus {
      border-color: var(--bs-danger);
      box-shadow: 0 0 0 0.25rem rgba(#a42a36, 0.25);
    }
  }

  .invalid-tooltip {
    background-color: var(--bs-danger);
  }

  .btn-dark {
    border-color: black;
    background-color: #1a1d20;
  }

  .btn-primary {
    background-color: #055ebd;
    border-color: black;
    color: #ccc;

    &:hover {
      background-color: rgba(#055ebd, 0.8);
    }
  }

  .input-group {
    img {
      opacity: 0.7;
    }

    .input-group-text {
      background-color: black;
      color: #ccc;
      border: black;
    }

    .btn-outline-primary {
      color: white;
      border-color: black;
      background-color: rgba(#055ebd, 0.4);

      &:hover {
        background-color: #055ebd;
        color: white;
        border-color: black;
      }
    }
  }

  .bg-success {
    background-color: var(--bs-success) !important;
    color: #ccc;
  }

  .bg-info {
    background-color: var(--bs-info) !important;
    color: #000;
  }

  .bg-warning {
    background-color: var(--bs-warning) !important;
    color: #000;
  }

  .bg-danger {
    background-color: var(--bs-danger) !important;
    color: #ccc;
  }

  .bg-secondary {
    background-color: black !important;
    color: #ccc;
  }

  .btn-secondary {
    background-color: black;
    color: #ccc;
    border-color: black;
  }

  .btn-light {
    background-color: #aaa;
    color: black;
    border-color: black;
  }

  /* Components */
  .card {
    background-color: #32383e;
    border-color: black;
  }

  .card-header,
  .card-footer {
    border-color: black;
  }

  .form-control,
  .list-group-item {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ddd;
    border-color: black;
  }

  .form-control:focus {
    background-color: #5f686f;
    color: white;
  }

  .modal-content {
    background-color: #272b30;
  }

  .modal-header,
  .modal-footer {
    border-color: black;
  }

  /* Misc */
  .text-muted {
    color: #aaa !important;
  }

  .text-dark {
    color: white !important;
  }

  .close {
    color: #ccc;
  }

  .close:hover {
    color: white;
  }

  /* Toasts */
  .toast {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    border-color: rgba(0, 0, 0, 0.5);
  }
  .toast-header {
    background-color: black;
  }
}
