@import "bootstrap-icons/font/bootstrap-icons.css";

$body-bg: #e9ecef;
$enable-negative-margins: true;

@import "bootstrap/scss/bootstrap.scss";

:root {
  --body-bg: #{$gray-200};
  --floor-plan-active: rgb(255, 255, 255);
  --floor-plan-inactive: rgb(230, 230, 230);
  --floor-plan-disabled: rgb(255, 240, 240);
  --bs-gutter-x: 0.75rem;
}

//@import "custom.scss";
@import "dark-mode.scss";
@import "custom.scss";
