:root {
  --body-bg: #efeff4;
  --floor-plan-active: rgb(255, 255, 255);
  --floor-plan-inactive: rgb(230, 230, 230);
  --floor-plan-disabled: rgb(255, 240, 240);
}

@import "~bootstrap/scss/bootstrap.scss";
@import "custom.scss";
@import "dark-mode.scss";
