body {
  background-color: var(--body-bg, $body-bg);
  color: var(--body-color, $body-color);
}

.text-muted {
  color: var(--text-muted-color, $text-muted) !important;
}

.card {
  .card-header {
    background-color: var(--card-cap-bg, $card-cap-bg);
  }
  background-color: var(--card-bg, $card-bg);
  color: var(--card-color, $card-color);
}

.list-group-item {
  background-color: transparent;
}

.state-button {
  opacity: var(--statebutton-opacity, 1);
}

.modal-content {
  background-color: var(--popup-bg, $modal-content-bg);
}

.modal-body {
  background-color: var(--popup-content-bg, $body-bg);
}

.toast {
  background-color: var(--popup-content-bg, $toast-background-color);
  backdrop-filter: blur(2px);
}

.toast-header {
  background-color: var(--popup-bg, $toast-header-background-color);
  color: var(--popup-header-color, $toast-header-color);
}

a,
.btn-link {
  color: var(--body-color, $body-color);
  opacity: 0.8;

  &:hover {
    color: var(--body-color, $body-color);
    opacity: 1;
  }
}

.btn-outline-primary {
  color: var(--bs-primary, $primary);
  border-color: var(--bs-primary, $primary);
}

.btn-primary {
  background-color: var(--bs-primary, $primary);
  border-color: var(--bs-primary, $primary);
}
