/* Misc */
.container {
  max-width: map-get($grid-breakpoints, "sm");
}

.bi {
  vertical-align: -0.125em;
}

.scenes {
  display: flex;
  overflow: hidden;
}
.scene-button {
  border: none;
  background: none;
  padding: 0;
  color: white;
}

.scene-button svg {
  border-bottom: 2px solid currentcolor;
  transform: scale(0.75, 0.75);
}

.scene-button svg * {
  stroke-width: 4px !important;
}

.scene-button:not(:last-of-type) {
  border-right-width: 0px;
}

.scene-button:not(:first-of-type) {
  border-left-width: 0px;
}

.scene-button-morning {
  background-color: var(--scene-morning-bg);
}
.scene-button-morning svg * {
  transform: scale(0.67, 0.67) translate(0, 132px);
}

.scene-button-forenoon {
  background-color: var(--scene-forenoon-bg);
}
.scene-button-forenoon svg * {
  transform: scale(0.67, 0.67) translate(16px, 0);
}

.scene-button-afternoon {
  background-color: var(--scene-afternoon-bg);
}
.scene-button-afternoon svg * {
  transform: scale(0.67, 0.67) translate(42px, 0);
}

.scene-button-evening {
  background-color: var(--scene-evening-bg);
}
.scene-button-evening svg * {
  transform: scale(0.67, 0.67) translate(64px, 132px);
}

.scene-button-night {
  background-color: var(--scene-night-bg);
}
.scene-button-night svg * {
  transform: scale(0.67, 0.67) translate(32px, 0px);
}

.disabled {
  opacity: 0.5;
}

.shadow-top {
  border-top: 1px solid $control-section-border;
  box-shadow: 0 -1rem 1rem -1rem rgba(var(--bs-dark-rgb), 0.2);
}

/* Bootstrap fixes */
.modal-content {
  background-color: $modal-content-bg;
}

.modal-body {
  background-color: $body-bg;
}

.toast {
  backdrop-filter: blur(5px);
}

/* Floor plan */
#floor-plan-wrapper {
  position: relative;
  margin: 1em auto;
  transform: rotate(0deg);
  max-width: 70vw;
  max-height: 70vw;

  @media (min-width: map-get($grid-breakpoints, "md")) {
    max-width: map-get($grid-breakpoints, "sm") * 0.9;
    max-height: map-get($grid-breakpoints, "sm") * 0.9;
  }
}

#floor-plan {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}

#floor-plan-hitbox {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  max-width: 100%;
}

/* Popup-messages */
#toast-section {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 1000;

  .toast {
    width: 20rem;
  }

  .toast-type {
    width: 20px;
    height: 20px;
  }
}
